
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Simulador</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Simulador de Temperatura</h1>
        <p class="lead">Aplicación web que simula la temperatura del agua dentro de un tanque respecto del tiempo y temperatura deseada.</p>
    </div>


    <div class="bodycontent">
        <h2>Simulaci´´on</h2>
        <br />
        <hr>
        <div class="row">
            
        </div>
    </div>



</body>
</html>
